* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    width: 400px;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: var(--color2);
}

button {
    border: none;
    text-transform: uppercase;
}

:root {
    --index: calc(1vw + 1vh);
    --color1: #FAC53B;
    --color2: #fff;
    --color3: #021F3F;
    --color4: #41BD8F;
    --color5: #944BA7;
    --main_yellow: #FDBC15;
    --yellow_use: #FFE479;
    --blue: #085A7F;
    --orange: #CD5602;
    --light_orange: #b3774c;
    --custom-gradient: linear-gradient(to bottom, #021F3F 8%, #044973 50%, #23BDCA 100%);
       --zheltyy: #fdbc15;
    --t-siniy: #021f3f;
    --fioletovyy: #944ba7;
    --zelenyy: #41bd8f;
    --belyy: #fff;
    --s-zheltyy: #ffe479;
    --t-zheltyy: #cd5602;
    --goluboy: #23bdca;
    --siniy: #085a7f;
    --font-family: "Montserrat-Regular", "sans-serif";
    --fon: linear-gradient(
        180deg,
        rgba(2, 31, 63, 1) 7.925131916999817%,
        rgba(4, 73, 115, 1) 50%,
        rgba(35, 189, 202, 1) 100%
    );
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(../fonts/Montserrat-Black.woff2) format("woff2");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
}
/* стили для уведомления*/
.centered-notification {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border-radius: 8px;
    color: var(--t-siniy);
    font-size: 16px;
    background-color: var(--belyy);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 9999;
    font-family: Montserrat-Bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 250px;
}

.centered-notification.show {
    opacity: 1;
    visibility: visible;
} 

body {
    background: var(--custom-gradient);
    background-attachment: fixed;
    background-size: cover;

    font-family: Montserrat-Regular !important; 
    font-size: 30px;
    color: var(--color2);
}

/* modal menu */
.modalBody{
    width: 100%;
}
.modalMenu{
    display: none;
    width: 40%;
    height: 400px;
    position: absolute;
    background-color: #021F3F;
    border-radius: 15px;
    background-color: #fff;
    left: 30%;
}
.flexClose{
    width: 100%;
}
.scrollbarUser{
    overflow: auto;
    scrollbar-color: #044973 #fff;
    height: 330px;
}

.closeModalMenu{
    height: 10px;
    color: black;
    font-weight: 800;
    display: flex;
    margin: 10px 10px 0 0;
    justify-content: flex-end;
}
.titleModalMenu{
    display: flex;
    justify-content: center ;
    color:#021F3F;
    font-weight: 600;
}
.itemHistory{
    color: #044973;
    display: flex;
    justify-content:space-around;
    margin: 20px 2%;
}
.priceHistory{
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-right: 20px;
}
.priceHistory    img{
    width: 45px;
    height: 45px;   
    margin-left: 5px;
}
.dateHistory{
    color:#9ea0a1;    
    display: flex;
    align-items: center;
}
.titleHistory{    
    display: flex;
    align-items: center;
}
.left{
width: 58%;
display: flex;
align-items: center;
}
.right{
    width: 38%;
    display: flex;
    justify-content: space-around;
}
.header{
    z-index: 9999999;
    background-color: #021F3F;
    display: flex;
    padding: 20px 0;
    font-family: Montserrat-Regular;
}
header{
    z-index: 9999999;
    width: 100%;
    top: 0;
    position: fixed;
}
.flexHeader{    
    display: flex;
}
.header img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.defaultPage{
          display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-family: Montserrat-Bold;
}
.defaultPage span{
    font-size: 20px;
    font-family: Montserrat-Bold;
}
.defaultPage a{
    margin-left: 20px;
    transition: 0.1s;
    border: 2px solid #23BDCA;
    padding: 15px 26px;
    font-size: 15px;
    border-radius: 30px;
}
.mainLink span{
    font-size: 20px;
    font-family: Montserrat-Bold;
}
.mainLink a{
    transition: 0.1s;
    border: 2px solid #23BDCA;
    padding: 15px 26px;
    font-size: 15px;
    border-radius: 30px;
}
.mainLink, .eventsLink{
      display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-family: Montserrat-Bold;
}
.mainLink .main{
 border: 2px solid #FDBC15;
 background-color: #FDBC15;
 color: #021F3F;
}
.eventsLink span{
    font-size: 20px;
    font-family: Montserrat-Bold;
}
.eventsLink a{
    transition: 0.1s;
    border: 2px solid #23BDCA;
    padding: 15px 26px;
    font-size: 15px;
    border-radius: 30px;
}
.eventsLink .events{
 border: 2px solid #FDBC15;
 background-color: #FDBC15;
 color: #021F3F;
}
.rightHeader{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
.rightHeader a{
    font-size: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}
/* Главная страница */
/* баннер */
section.banner {
    margin-top: 155px;
    display: flex;
    justify-content: right;
}

/* текст "магазин" */
section.text_shop {
    display: flex;
    justify-content: center;
}

/* Страница заявок */
.applications .shop{
    margin-top: 300px;
}
.applications .btn{
    gap: 25px;
}

.dropdown-container {
    position: relative;
    width: 465px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;
  }

  main{
    margin-top: 150px;
  }




.show {display:block;}
.test{
    color: black;
}
.userHeader{
    border:10px solid #FDBC15;    
    border-radius: 30px;
    width: 80vw;
    padding: 50px 0 65px 0;
}
.bodyUser{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.avatar{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute; 
    transform: translate(160px,-130px);
}
.PC{
    width:32%;
    background-color: #FDBC15;
    position: absolute;
    left: 34%;
    transform: translateY(20px);
    color: black;
    border-radius: 55px;
    text-align: center;
    padding: 20px 15px; 
}
.PC h1{
    font-size: 30px;
    padding: 15px 0;
    font-weight:900;
    border-radius: 35px;
    box-shadow: 3px 3px #FFE479;
    border: 3px solid #CD5602;
}
.userValue{
    display: flex;
    justify-content:space-around;
    margin-left: 20%;
}
.userValue a{
    opacity: 20%;
}
.inputsUser{
    margin: 0 10px;    
    background-color: #085A7F;
    width: 10%;
    padding: 10px 0;
    border-radius: 15px;
    border:3px solid #23BDCA;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 900;
}
.inputsUser img{
    width: 45px;
    height: 45px;   
    margin-left: 15px;
}
.valueInputs{   
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.ulUser li.hide{
    display: none;
}
.addAvatarMenu{
    display: none;
    position: absolute;
    width: 26%;
    top: 25vh;
    left:37%;
    z-index: 9999;
    background-color: #fff;
}
.addAvatarMenu img{
    width: 120px;
}
.addAvatarMenu label{
    width: 120px;
}
.addAvatarMenu .formUser{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.addAvatarMenu span{
    font-size: 20px;
    color: #021F3F;
}
.titleAvatarMenu{
    display: flex;
    margin: 10px 10px 0 10px;
    color: #021F3F;
    justify-content: space-between;
}
.closeModalMenuAvatar{
    display: flex;
    justify-content: flex-end;
}
.scrollAllUsersUl{
    display: flex;
    justify-content: flex-end;
    overflow: auto;
    height: 250px;
    background-color: #fff;
    border-radius: 15px;
}
.flexScrollUlUser{
    width: 350px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
}
.marginScrollAllUsers{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.scrollAllUsersUl::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #044973;    
}
.scrollAllUsersUl::-webkit-scrollbar-button{
    display: none;
}
.scrollAllUsersUl::-webkit-scrollbar{
   background-color: #fff;
   height: 80%;
}
.ulUser{
    display: none;
    width: 300px;    
    background-color: #fff;
    height: 240px;
    border-radius: 15px;
    flex-direction: column;
}
.ulUser li a{
    padding: 10px;
    color:#021F3F;
}
.ulUser li a span{    
    font-size: 30px;
}
.wrapper {
	position: relative;
	overflow-x: hidden;
}
.menu {
	position: fixed;
	right: 0;
	top: 0;
    z-index: 99;
	width: 30%;
	height: 100vh;
	display: flex;
	justify-content: center;
  background-color: #021F3F;
  transition: 0.5s;
  transform: translateX(170%);
}
.menu-list {
	display: flex;
	justify-content: space-around;
	height: 50vh;
	flex-direction: column;
}
.menu-list a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

.menu_active{
  transform: translateX(0);
}
.content{
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_active{
  transform: translateX(100%);
}
.nameMenu{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: Montserrat-Bold;
}
.contentMenu{
    display: flex;
	flex-direction: column;
}
.contentMenu a{
    font-weight: 400;
    text-align: end;
    margin-top: 25px;
}
.contentMenu a:hover{
    color:#FAC53B;
}
.titleAllUsers{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.titleAllUsers span{
    font-family: Montserrat-Black;
    font-size: 100px;   
    width: 50%; 
}
.titleAllUsers form{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.titleAllUsers input{
    background:local;
    color: #23BDCA;
    outline: 0;
    font-size: 20px;
    width: 50vh;
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
}
.titleAllUsers input::placeholder{
    color: #23BDCA;
}
.titleAllUsers input:focus{
color: #23BDCA;
}
.indexAllUsers{
    display: flex;
    justify-content: center;
}
.mainAllUsers{   
    display: flex;
    color:#085A7F;
    overflow: auto;
    scrollbar-color: #085A7F #021F3F;
    font-size: 35px;
    flex-wrap: wrap;
    height: 70vh;
}
.mainAllUsers::-webkit-scrollbar-button{
   display: none;
}
.mainAllUsers::-webkit-scrollbar-thumb{
    border-radius: 15px;
}
.mainAllUsers::-webkit-scrollbar{
    width: 40px;
}
.mainAllUsers span{
    color:#085A7F;
}
.mainAllUsers .item img{
    width: 40px;
}
.iconsAllUsers a {
    color: #085A7F;
    font-family: Montserrat-Bold;
    font-size:40px;
    font-weight: bold;
}
.iconsAllUsers a:hover{
    color:#021F3F;
}
.item{
    align-self: start;
    height: 100px;
    display: flex;
    width: 48%;
}
.iconsAllUsers{
    width: 50%;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
}
.scrollbarMainAllUsers{    
    padding: 30px;
    width: 80vw;
    margin-top: 100px;
    border-radius: 20px;
    background-color: #fff;
}
.userId{
    width: 50%;
}
.userId a span:hover{
    color: #021F3F;
}
.coinModalMenu, .lockModalMenu, .trashModalMenu, .addAdminModalMenu{
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border-radius: 20px;
    width: 30%;
    left: 35%;
    top: 40vh;
    height: auto;
}
.coinModalMenu span, .trashModalMenu span{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.textModalMenu{
    color:#000;
    font-weight: 800;
}
.buttonsModalMenu{
    display: flex;
    margin: 30px 0;
    justify-content: space-around;
}
.closeCoinModalMenu, .closeTrashModalmenu, .closeAddAdminMenu{
    background-color: #085A7F;
    border-radius: 70px;
    color:#fff;
    padding: 10px;
}
.buttonsModalMenu button{
    color:#fff;
    font-size: 30px;
    background-color: #41BD8F;
    padding: 10px;
    border-radius: 70px;
}
.valueModalMenu{
    display: flex;
    justify-content: center;
    text-align: center;
}
.valueModalMenu input{
    border: none;
    font-size: 30px;
    color:#021F3F;
    opacity: 30%;
    width: 90px;
    outline: none;
}
.addAdminModalMenu span{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    color:#000;
}
.trashSuccess, .addAdminSuccess{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    color:#000;
    border-radius: 20px;
    width: 500px;
}
.headerAdaptive{
    width: 100%;
    background-color: #021F3F;
    position: fixed;
    top: 0;
    z-index: 99999;
    left: 0;
    padding: 30px 0;
    display: none;
}
.flexMenuAdaptive{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.headerAdaptive .logo{
    font-weight: 800;
    z-index: 999999;
}
.menuButtonAdaptive .lineButtonMenu{
transition: 0.5s;
width: 50px;
height: 5px;
margin-top: 5px;
background-color: #fff;
}
.linksHeader{
    display: flex;
    width: 50%;
    margin-left: 30px;
    justify-content: space-around;
}
.linksHeader a{
margin-left: 10px;
}
.wrapperAdaptive{
    z-index: 9;
    display: none;
}
@media (max-width: 760px ){
header{
    display: none;
}
.headerAdaptive{
    display: flex;
}
.menuAdaptive{
    width: 60%;
}
.wrapperAdaptive {
    display: block;
	overflow-x: hidden;
}
.menuAdaptive {
	position: fixed;
    z-index: 99999;
	right: 0;
	top: 97px;
	width: 60%;
	height: calc(100vh - 97px);
	display: flex;
	justify-content: flex-end;
    padding-right: 40px;
  background-color: #021F3F;
  transition: 0.5s;
  transform: translateX(130%);
}
.menu-listAdaptive {
	display: flex;
    margin-top: 20px;
	justify-content: space-around;
	height: 50vh;
	flex-direction: column;
}
.menu-listAdaptive a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}
.menu_activeAdaptive{
  transform: translateX(0);
}
.contentAdaptive{
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_activeAdaptive{
  transform: translateX(60%);
}
.nameMenuAdaptive{
    display: flex;
    justify-content: flex-end;
    font-family: Montserrat-Bold;
}
.coinMenuAdaptive{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Montserrat-Bold;
}
.coinMenuAdaptive a{
    display: flex;   
    align-items: center;
}
.coinMenuAdaptive a img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.contentMenuAdaptive{
    display: flex;
    margin-top: 30px;
	flex-direction: column;
    height: 70%;
}
.contentMenuAdaptive a{
    font-weight: 400;
    text-align: end;
    margin-top: 25px;
}
.closeMenuButtonAdaptive{
    display: none;
    transition: 0.5s;
}
.closeMenuButtonAdaptive img{
    width: 40px;
}
.mainLinkAdaptiveCheck, .profileLinkAdaptiveCheck, .eventsLinkAdaptiveCheck{
text-align: end;
}
.mainLinkAdaptiveCheck .mainLinkAdaptive a{
    border: none;
    color:#FDBC15;
}
.mainLinkAdaptiveCheck .eventsLinkAdaptive a, .mainLinkAdaptiveCheck .profileLinkAdaptive a{
    border: none;
    margin-top:15px;
}
.profileLinkAdaptiveCheck .profileLinkAdaptive a{
    border: none;
    color:#FDBC15;
}
.profileLinkAdaptiveCheck .eventsLinkAdaptive a, .profileLinkAdaptiveCheck .mainLinkAdaptive a{
    border: none;
    margin-top:15px;
}
.eventsLinkAdaptiveCheck .eventsLinkAdaptive a{
    border: none;
    color:#FDBC15;
}
.eventsLinkAdaptiveCheck .profileLinkAdaptive a, .eventsLinkAdaptiveCheck .mainLinkAdaptive a{
        border: none;
    margin-top:15px;
}
}
      /* Адаптивность для мобильных
        @media (max-width: 768px) {
        
            .defaultPage {
                width: 100%;
                justify-content: center;
            }
            
            .defaultPage a {
                display: none !important; 
            }
            
            .defaultPage span {
                font-size: 24px !important; 
                margin: 10px 0;
                margin-right: auto;
                margin-left: 25px;
                display: block !important;
            }
            
            .rightHeader {
                display: none !important;
            }
            
        
            main {
                margin-top: 80px !important; 
            }
            

            .menu {
                width: 100% !important;
            }
        }
            Адаптация для планшетов (1024px)
        @media (max-width: 1024px) {
            .header {
                padding: 15px 10px;
            }
            
            .defaultPage {
                width: 50%;
            }
            
            .defaultPage a {
                padding: 12px 18px;
                font-size: 14px;
            }
            
            .rightHeader {
                width: 50%;
                margin-right: 20px;
            }
            
            .rightHeader a {
                margin-right: 20px;
                font-size: 18px;
            }
            
            .rightHeader img {
                width: 35px;
                height: 35px;
            }
            
            .menu {
                width: 40%;
            }
            
            main {
                margin-top: 120px;
            }
        } */
.marginScrollAllUsers{
    display: none;
}
.overlay, .overlayAdaptive{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.5) inset;
}
.card {
    text-transform: uppercase;
    width: 465px;
}

.card_img {
    height: 465px;
    width: 100%;
    margin-bottom: 25px;
}

.cost {
    margin: 17px 0 25px;
}

.btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 31.5px 0;
    width: 100%;
    background: var(--color1);

    font-family: Montserrat-Bold;
    font-size: 30px;
    color: var(--color3);
}

.btn img {
    width: 25px;
    height: 25px;
}

.btn_none {
    background: var(--color4);
}

.btn_in_basket {
    background: var(--color5);
    color: var(--color2);
}
/* Страница заявок */
.applications .shop{
    margin-top: 300px;
}
.applications .btn{
    gap: 25px;
}

.dropdown-container {
    position: relative;
    width: 465px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;
  }

  main{
    margin-top: 150px;
  }




.show {display:block;}
section.shop {
    font-family: Montserrat-Bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 162px;
    gap: 100px 50px;
}